body{
    font-family: "Noto+Sans+TC", "Roboto", sans-serif; 
}

.login-page-height{
    height:100vh;
}

.not-allowed{
    cursor: not-allowed;
}

.font-Arimo{
    font-family:'Arimo';
}

.font-RussoOne{
    font-family:'Russo One';
}

.font-size-xs{
    font-size:12px;
}

.font-size-s{
    font-size:14px;
}

.font-size-s-plus{
    font-size:15px;
}

.font-size-m{
    font-size: 22px;
}

.font-size-m-plus{
    font-size: 24px;
}

.font-size-l{
    font-size: 30px;
}

.font-size-xl{
    font-size: 50px;
}

.line-height-s{
    line-height:1.2em;
}

.line-height-m{
    line-height:1.5em;
}

.bg-cover{
    background-size: cover;
    background-position: center center;
}

.bg-cover-left{
    background-size: cover;
    background-position: center left;
}

.bg-cover-right{
    background-size: cover;
    background-position: center right;
}

.bg-cover-top{
    background-size: cover;
    background-position: center top;
}

.bg-cover-bottom{
    background-size: cover;
    background-position: center bottom;
}

.bg-img-height-s{
    height: 200px;
}

.bg-img-height-s-plus{
    height: 250px;
}

.bg-img-height-m{
    height: 350px;
}

.bg-img-height-l{
    height: 500px;
}

.bg-img-height-l-plus{
    height: 600px;
}

.box-shadow{
    box-shadow:0 3px 5px rgba(0, 0, 0, 0.16)
}

.box-shadow:hover{
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.24)
}

.text-shadow{
    text-shadow:0px 3px 3px rgba(0, 0, 0, 0.5);
}

img.dark-shadow{
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.hr-border-width{
    border-width:1.5px;
}

.mt-gutter-s{
    margin-top:10px;
}

.mt-minus-m{
    margin-top:-25px;
}

.btn-outline-light:hover{
    color:#ca293e !important;
}

@media (max-width: 767px) {
    .mt-gutter-s{
        margin-top:0px;
    }
}

.table-width-xs{
    min-width:80px;
}

.table-width-s{
    min-width:100px;
}

.table-width-m{
    min-width:120px;
}
.table-width-m-plus{
    min-width:125px;
}

.table-width-l{
    min-width:150px;
}

.table-width-xl{
    min-width:180px;
}

.table-width-xl-plus{
    min-width:200px;
}

.table-width-2xl{
    min-width:250px;
}

.table-img-width{
    width:60px;
    object-fit: cover;
}

.table-img-height-s{
    height:80px;
}

.table-img-height-s-plus{
    height:100px;
    object-fit: cover;
}
.spinner-size-s{
    width:12px;
    height:12px;
}

.customer-img{
    height:100px;
    width:100px;
    border-radius:50%;
}

.h-20{
    height:20px;
}

.h-55{
    height:55px;
}

.w-20{
    width:20px;
}

.toasts-square{
    width:20px;
    height:20px; 
}

.nutrition-border{
    display:inline-block;
    width:30%;
}

.select-text-align{
    text-align:center;
    text-align-last:center;
}

.fa-lg{
    font-size: 2em;
}

.cart-logo-position{
    transform: translateX(-5px) translateY(-13px);
}

.fa-md{
    font-size: 1.35em;
}

.cart-link-width{
    display: inline-block;
    width: 50px;
    text-align: center;
}

.btn-square{
    width: 45px;
    height: 45px;
}

.logo-h-75{
    height:75px;
}

.card-img-height{
    height:180px;
}

.pointer{
    cursor: pointer;
}

.toasts-position{
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 300px;
    z-index: 11000;
}

.headerDivider-l{  
    border-left:0.75px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
}

.headerDivider-r{  
    border-right:0.75px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.navbar-dark .navbar-nav .nav-link.active{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.nav-link-s:hover{
    background-color: rgba(255, 255, 255, .65);
    color:#630815 !important;
}

.navbar-dark .navbar-nav .nav-link-s.active{
    background-color: rgba(255, 255, 255, .85);
    color:#ca293e !important;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.no-text-shadow{
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.page-content-height{
    min-height: calc(100vh - 81px - 81px);
}

.bg-alpha-dark{
    background-color:  rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    right: 0px;
}

@media (min-width: 576px) and  (max-width: 768px) {
    .jumbotron{
        padding-top:2rem !important;
        padding-bottom:2rem !important;
    }
}